{
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "linebreak-style": [
            "error",
            "windows"
        ],
        "import/extensions": [
            "error",
            "always",
            {
                "ignorePackages": true
            }
        ],
        "react/prop-types": "off"
    }
}